html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}
h1, p {
  padding-top: 15px;
  text-align: center;
  font-family: sans-serif;
  color:rgb(7, 82, 100);
}
.home-row {
  display: flex;
  padding:5%;
  text-align: center;
}
.column {
  margin: 5px;
  flex:content;
}
.home {
  padding-top: 15px;
  text-align: center;
  font-family: sans-serif;
  color:rgb(7, 82, 100);
}

.navbar {
  height: 30px;
  margin-top: 40px auto;
  background-color: rgb(159, 201, 211);
  text-align: center;
  border-radius: 4px;
}

.homebutton {
  background-color: rgb(159, 201, 211);
  color: #ffffff;
  border-radius: 40px;
  font-size: 120%;
}

#footer {
  text-align: center;
}