<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
      integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %} - Survey Server</title>
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="pure-menu pure-menu-horizontal">
        <!-- <a href="/#" class="pure-menu-heading pure-menu-link">Survey Server</a> -->
        <ul class="pure-menu-horizontal">
          <li class="pure-menu-item">
            <a href="{{ url_for("index") }}" class="pure-menu-link">Home</a>
          </li>
          <li class="pure-menu-item">
            <a href="{{ url_for("survey") }}" class="pure-menu-link">Survey</a>
          </li>
          <li class="pure-menu-item">
            <a href="{{ url_for("results") }}" class="pure-menu-link">Survey Results!</a>
          </li>
          <li class="pure-menu-item">
            <a href="{{ url_for("summary") }}" class="pure-menu-link">Admin Summary</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %} &copy; Copyright 2022 by Kinza Ahmed. {% endblock %}
    </div>
  </body>
</html>
