{% extends "base.html" %} 

{% block title %}Homepage{% endblock %} 

{% block content %}
<h1 class="home">THIS or THAT Survey!</h1>
<p class="home">Welcome to my awesome homepage.</p>

<div class="home-row" style="size: 2;">
    <div class="column">
        <a href="{{ url_for("survey") }}">
            <button class="homebutton">Start Survey!</button>
        </a>
    </div>
    <div class="column">
        <a href="{{ url_for("decline") }}">
            <button class="homebutton">Not interested</button>
        </a>
    </div>
  </div>
{% endblock %}
