{% extends "base.html" %} 

{% block title %}Admin Summary{% endblock %} 

{% block head%}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- <script src="../static/js/summary.js"></script> -->
{% endblock %}
{% block content %}
<h1>Admin Summary</h1>
<div class="container">
    <h1 class="center">More Time More Money</h1>
    <canvas id="moreTimeMoney"></canvas>
</div>

<div class="container">
    <h1 class="center">Best Headache Reliever</h1>
    <canvas id="headache"></canvas>
</div> 

<div class="container">
    <h1 class="center">Favorite Cereal</h1>
    <canvas id="cereal"></canvas>
</div>

<div class="container">
    <h1 class="center">YouTube or Netflix</h1>
    <canvas id="entertainment"></canvas>
</div>

<div class="container">
    <h1 class="center">Marvel or DC</h1>
    <canvas id="comic"></canvas>
</div>

<div class="container">
    <h1 class="center">Desktop Computer or Laptop</h1>
    <canvas id="pc"></canvas>
</div>

<div class="container">
    <h1 class="center">Mechanical Keyboard or Magic Keyboard</h1>
    <canvas id="keyboard"></canvas>
</div>

<div class="container">
    <h1 class="center">Suggested Question</h1>
    <canvas id="suggested"></canvas>
</div>

<div class="container">
    <h1 class="center">Number of surveys per day</h1>
    <canvas id="timeChart"></canvas>
</div>
{% endblock %}
