{% extends "base.html" %} {% block title %}This Or That{% endblock %} {% block
head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>Survey</h1>
<p class="important">Welcome to the THIS or THAT survey!!</p>
<form class="pure-form pure-form-aligned" action="{{ url_for('survey') }}" method="POST">
  <fieldset>
    <div class="pure-control-group">
      <label for="surveyor_name">Name</label>
      <input type="text" id="aligned-name" name="surveyor_name" placeholder="name" required />
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>
    <legend style="float: right">
      Would you rather have more time or more money?
    </legend>
    <div class="pure-control-group">
      <label for="more_time_money"></label>
      <input
        type="text"
        id="aligned-more"
        name="more_time_money"
        placeholder="I'd rather have more..."
        required
      />
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>
    <legend style="float: right">
      What is the best headache reliever for you?
    </legend>
    <div class="pure-control-group pure-u-1 pure-u-md-1-3">
      <label for="headache"></label>
      <select id="headache" name="headache" class="pure-input-1-2" required>
        <option value="advil">Advil</option>
        <option value="tylenol">Tylenol</option>
        <option value="sleep">Sleep</option>
      </select>
    </div>
  </fieldset>
  <fieldset>
    <legend style="float: right">What is Your Favorite Cereal?</legend>
    <div class="pure-controls">
      <label class="pure-checkbox">
        <input type="checkbox" id="cereal-option-one" value="honey"/>
        Honey Bunches of Oats
      </label>
      <label class="pure-checkbox">
        <input type="checkbox" id="cereal-option-two" value="cinnamon" />
        Cinnamon Toast Crunch
      </label>
      <label class="pure-checkbox">
        <input type="checkbox" id="cereal-option-three" value="lucky" />
        Lucky Charms
      </label>
      <label class="pure-checkbox">
        <input type="checkbox" id="cereal-option-four" value="cocoa" />
        Cocoa Puffs
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend style="float: right">YouTube or Netflix</legend>
    <div class="pure-controls">
      <label for="youtube" class="pure-radio">
        <input
          type="radio"
          name="entertainment"
          id="youtube"
          value="youtube"
          required
        />
        YouTube
      </label>
      <label for="netflix" class="pure-radio">
        <input
          type="radio"
          name="entertainment"
          id="netflix"
          value="netflix"
        />
        Netflix
      </label>
      <label for="youtubeAndNetflix" class="pure-radio">
        <input
          type="radio"
          name="entertainment"
          id="youtubeAndNetflix"
          value="youtubeAndNetflix"
        />
        Both
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend style="float: right">Marvel or DC</legend>
    <div class="pure-controls">
      <label for="marvel" class="pure-radio">
        <input type="radio" name="comic" id="marvel" value="marvel" required/>
        Marvel
      </label>
      <label for="dc" class="pure-radio">
        <input type="radio" name="comic" id="dc" value="dc" />
        DC
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend style="float: right">Desktop Computer or Laptop</legend>
    <div class="pure-controls">
      <label for="desktop" class="pure-radio">
        <input type="radio" name="pc" id="desktop" value="desktop" required/>
        Desktop Computer
      </label>
      <label for="laptop" class="pure-radio">
        <input type="radio" name="pc" id="laptop" value="laptop" />
        Laptop
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend style="float: right">Mechanical Keyboard or Magic Keyboard</legend>
    <div class="pure-controls">
      <label for="mechanical" class="pure-radio">
        <input
          type="radio"
          name="keyboard"
          id="mechanical"
          value="mechanical"
          required
        />
        Mechanical Keyboard
      </label>
      <label for="magic" class="pure-radio">
        <input
          type="radio"
          name="keyboard"
          id="magic"
          value="magic"
        />
        Magic Keyboard
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">
        Submit
      </button>
    </div>
  </fieldset>
</form>
{% endblock %}
